:root {
  --primary: #5a9462;
  --secondary: #94704b;
  --highlight: #244729;
  --text: #ffffff;
  --box-shadow: 5px 5px 5px rgb(57, 57, 57);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text);
  background-color: var(--primary);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  animation-name: linkHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--highlight);
}

@keyframes linkHover {
  from {
    color: unset;
  }
  to {
    color: var(--highlight);
  }
}