.review {
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: var(--box-shadow);
}

.review > div  {
  padding: 1rem;
}

.coordinates {
  color: var(--primary);
  text-decoration: underline;
}

.userReview {
  
}