.location {
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: auto 1fr;
  box-shadow: var(--box-shadow);
}

.reviews {
  padding: 1.5rem;
}

.coordinates {
  color: var(--primary);
  text-decoration: underline;
}

.userReview {
  background-color: chocolate;
}

.imageContainer {
  position: relative;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.header > h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: xx-large;
}

.header :last-child {
  justify-self: end;
}

.description {
  margin: 0;
  margin-bottom: 0.5rem;
}